body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row-content p span strong {
    margin-right: 10px;
}

.row-content p span {
    margin-right: 25px;
}

ul {
    list-style: none outside;
    padding: 0;
}

ul li strong {
    display: block;
}

